.saved-analysis {
  width: 100%;
}

.saved-analysis__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 80px 0 0;
  box-sizing: border-box;
}

.saved-analysis__error {
  width: 100%;
  margin: 0 40px 32px;
  text-align: center;
  font-size: 16px;
}

/* Responsive */

@media screen and (max-width: 768px) {
  .saved-analysis__container {
    padding-top: 64px;
  }
}

@media screen and (max-width: 480px) {
  .saved-analysis__container {
    padding-top: 48px;
  }
}

@media screen and (max-width: 320px) {
  .saved-analysis__container {
    padding-top: 40px;
  }
}
