.footer {
  width: 100%;
}

.footer__container {
  max-width: 1232px;
  min-height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #97b483;
}

.footer__copyright {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.footer__year,
.footer__brand {
  color: #516d3f;
}

.footer__brand-dark {
  color: #2d2e2e;
}

.footer__menu {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer__home {
  text-decoration: none;
  font-size: 16px;
}

.footer__home:hover,
.footer__link:hover {
  opacity: 0.7;
}

.footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.footer__icon {
  width: 22px;
  height: 22px;
  display: block;
}
